
services:

#  backend:
#    image: docker.io/divjazz/recommendic
#    ports:
#      - '8080:8080'
#    env_file: .env
#    depends_on:
#      - postgres
#      - redis
#    mem_limit: '256m'
  postgres:
    container_name: recommendic_db
    image: postgres:18-alpine3.22
    env_file: .env
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - postgres2volume:/var/lib/postgresql/data
  redis:
    container_name: redis
    image: redis:8.0-M03-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  postgres2volume:
